.epp {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  color: var(--white);
}

.epp h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  background-color: var(--black);
  padding: 10px;
  font-size: 27px;
}

.epp p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  background-color: var(--red);
  padding: 10px;
  font-size: 20px;
}

.epp a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  background-color: #0a3edb;
  padding: 10px;
  font-size: 17px;
  color: #fff;
}
