.homeContainer {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e3e3e3;
}

.homeContainer .headerInitial {
  background-image: url(../../assets/imgs/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  box-shadow: inset 0 0 600px rgb(0, 0, 0);
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  flex-direction: column;
  gap: 10px;
  color: var(--white);
}
.homeContainer .headerInitial h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Noto-b;
  font-size: 50px;
  color: var(--pink);
  text-align: center;
}

.homeContainer .headerInitial p {
  text-align: center;
}

.homeContainer .headerInitialSearch {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  background-color: var(--white);
  padding: 30px;
  text-align: center;
}

.homeContainer .headerInitialSearch nav ul {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: row;
  border-radius: 4px;
  gap: 10px;
  overflow: hidden;
}

.homeContainer .headerInitialSearch nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: row;
  border-radius: 4px;
  flex: auto;
  flex-wrap: wrap;
}

.homeContainer .headerInitialSearch .campsForms {
  position: relative;
  display: block;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: 0.9s all;
}

.homeContainer .headerInitialSearch .showMenu {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: var(--red);
  color: var(--white);
}

.homeContainer .headerInitialSearch .showlist {
  max-height: 1000px;
  overflow: auto;
}

.homeContainer .headerInitialSearch nav ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Montserrat;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: var(--red);
  color: var(--white);
  border-radius: 4px;
  flex: auto;
}

.homeContainer .headerInitialSearch .linkSmall {
  font-size: 14px;
}

.content {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.content .intro {
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.content .intro h2 {
  color: var(--pink);
  font-size: 15px;
  text-transform: uppercase;
}

.content .intro p {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

.content .divisor h2 {
  position: relative;
  width: 100%;
  padding: 10px;
  color: var(--pink-dark);
  font-size: 22px;
  font-weight: 500;
  border-bottom: 2px solid var(--pink);
  text-align: center;
}

.content .cardContainer {
  position: relative;
  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 170px);
  gap: 17px;
  justify-content: center;
  align-items: center;
}

.content .cardContainer .card {
  width: 170px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  z-index: 0;
  transition: 0.2s all;
  border-radius: 4px;
  background: var(--black);
  height: 340px;
  overflow: hidden;
}

.content .cardContainer .card a {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  color: var(--white);
  gap: 5px;
  font-weight: 500;
  width: 100%;
  height: 100%;
}

.content .cardContainer .card:hover {
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.247);
}

.content .cardContainer .card img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content .cardContainer .card h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  font-size: 14px;
  font-family: Noto-b;
  color: var(--white);
  padding: 10px;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  background-color: var(--pink-dark);
}

.content .cardContainer .card .premium_icon {
  background-color: #000;
  color: var(--yellow);
  position: absolute;
  top: 0;
  right: -60px;
  padding: 2px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 10px 0 0 10px;
  transition: 0.4s all;
  font-size: 12px;
}

.content .cardContainer .card .premium_icon svg {
  font-size: 30px;
  color: #ebbb0e;
}

.content .cardContainer .card .vip_icon {
  background-color: #000;
  color: var(--white);
  position: absolute;
  top: 0;
  right: -24px;
  padding: 2px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 10px 0 0 10px;
  transition: 0.4s all;
  font-size: 11px;
}

.content .cardContainer .card .vip_icon svg {
  font-size: 30px;
  color: #ce7208;
}

.content .cardContainer .card .new_icons {
  background-color: #000;
  color: var(--white);
  position: absolute;
  top: 0;
  right: -65px;
  padding: 2px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 10px 0 0 10px;
  transition: 0.4s all;
  font-size: 13px;
}

.content .cardContainer .card .new_icons svg {
  font-size: 30px;
  color: #d81806;
}

.content .cardContainer .card .normal_icons {
  background-color: #000;
  color: var(--white);
  position: absolute;
  top: 0;
  right: -60px;
  padding: 2px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 0 0 0 2px;
  transition: 0.4s all;
  font-size: 13px;
}

.content .cardContainer .card .normal_icons svg {
  font-size: 30px;
  color: #dcdada;
}

.content .cardContainer .card:hover .vip_icon,
.content .cardContainer .card:hover .premium_icon,
.content .cardContainer .card:hover .new_icons,
.content .cardContainer .card:hover .normal_icons {
  right: 0;
  gap: 3px;
}

.content .partners {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.content .partners .card {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 0px;
}

@media only screen and (max-width: 830px) {
  .content .cardContainer {
    grid-template-columns: repeat(5, 170px);
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 730px) {
  .homeContainer .headerInitial h1 {
    font-size: 27px;
  }

  .content .partners {
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }

  .content .cardContainer {
    grid-template-columns: repeat(4, 170px);
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 460px) {
  .homeContainer .headerInitialSearch form {
    flex-wrap: wrap;
  }
  .content {
    padding: 10px;
  }

  .content .partners {
    display: grid;
    grid-template-columns: repeat(1, 200px);
  }

  .content .cardContainer {
    grid-template-columns: repeat(2, 160px);
  }
}
