.footerContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--pink-dark);
  padding: 10px;
  border-top: 3px solid var(--pink);
}

.footerContainer .content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContainer .content p {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
}

.footerContainer .content p strong {
  font-size: 15px;
  position: relative;
  width: 100%;
  text-align: center;
  font-family: Noto-b;
  color: var(--yellow);
}

.footerContainer .credit {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContainer .credit p {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
}

.footerContainer .credit p a {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  text-align: center;
  color: var(--yellow);
}
