.adsContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  background-color: #e3e3e3;
}

.adsContainer div {
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--white);
  padding: 20px;
  gap: 10px;
}

.adsContainer .top {
  background-image: url(../../assets/imgs/bg-pages.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  height: 270px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.adsContainer .top h2 {
  font-size: 38px;
  color: var(--white);
}

.adsContainer .top svg {
  font-size: 50px;
  color: var(--white);
}

.adsContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.adsContainer div h2 {
  font-size: 27px;
  color: var(--pink-dark);
  position: relative;
  display: block;
}

.adsContainer div nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
}

.adsContainer div nav li a {
  font-size: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.adsContainer div nav li:hover {
  background-color: #555555;
  border-radius: 4px;
}

.adsContainer div nav li a span {
  color: var(--pink);
  font-size: 19px;
}
.adsContainer div p {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.adsContainer div a {
  font-size: 15px;
  background-color: var(--pink);
  padding: 10px;
  color: var(--white);
  transition: 0.3s all;
  border-radius: 4px;
  display: block;
  position: relative;
}

.adsContainer div a svg {
  background-color: var(--pink);
  color: var(--white);
  font-size: 40px;
  padding: 6px;
  border-radius: 6px;
}

.adsContainer div #wts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.adsContainer div a svg:hover {
  background-color: #058b22;
}

@media only screen and (max-width: 460px) {
  .adsContainer div {
    width: 100%;
  }

  .adsContainer {
    padding: 10px;
  }
}
